extends layout

block content
  main
    section(class="form")
      form(method="POST" action="/new")
        input(type="text", name="user")
        input(type="text", name="message")
        button(type="submit") Submit
    section(class="button")
      a(href="http://localhost:3000/"): button(type="button") Go Back