extends layout

block content
  form(method="POST" action="/new")
    input(type="text", name="user")
    input(type="text", name="message")
    button(type="submit") Submit
  a(href="http://localhost:3000/"): button(type="button") Go Back