extends layout

block content
  main
    section(class="messages")
      each val in messages
        div(class="card")
          h3= val.user
          p= val.text
          small= val.added
    section(class="nav")
      a(href="/new"): button(type="button") Write a Message
